body {
    margin: 0 auto;
    background-color: #2C2B3D;
    min-height: 100vh;
    border: 1px solid;
    
    
}

.page {
    
    
    margin: 0px auto;
    
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 30px;
    margin: 70px auto 101px;
   
    }

li {
    display: flex;
    gap: 30px;
    
}

ul,a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 1000px;
    height: 283px;
    margin: 0 auto;
    }



h1 { 
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;;
    margin: 0 auto;
    line-height: 40px;
}

h1 span {
    color: #00BFA6;;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 59px;
    
    font-style: normal;
    font-weight: 400px;
    color: #C2C2C2;;
    width: 604px;
    text-align: center;
}

p span {
    color: #00BFA6;;
}

.line {
    border: 1px solid #00BFA6;
    width: 568px;
    margin: 50px auto 8px;
    align-items: center;
    
}

footer {
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    bottom: 0;
    
    
}


footer p {
    font-family: 'JetBrains Mono', sans-serif;
    size: 14px;
    line-height: 28px;
    color:#FFFFFF;
    margin: 40px auto 17px;
    text-align: center;
    
    

    
}

#cadeado {
    position: absolute;
    left: 6px;
    
        }


a
